<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>체크인 기능을 사용하기 위해서 위치정보 권한이 필요합니다.</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>체크인 기능을 사용하기 위해서 위치정보 권한이 필요합니다.</string>
    <key>NSLocationUsageDescription</key>
    <string>체크인 기능을 사용하기 위해서 위치정보 권한이 필요합니다.</string>

    <key>NSAppTransportSecurity</key>
    <dict>
        <key>NSAllowsArbitraryLoads</key>
        <false/>
        <key>NSExceptionDomains</key>
        <dict>
            <key>apis.data.go.kr</key>
            <dict>
                <key>NSExceptionAllowsInsecureHTTPLoads</key>
                <true/>
                <key>NSExceptionRequiresForwardSecrecy</key>
                <false/>
            </dict>
        </dict>
    </dict>

</dict>
</plist>
